@font-face {
  font-family: digikala;
  src: url("../fonts/icons.eot"), url("../fonts/icons.eot"),
    url("../fonts/icons.woff"), url("../fonts/icons.ttf");
}

@font-face {
  font-family: yekan;
  font-weight: 100;
  src: url("../fonts/yekan.eot"), url("../fonts/yekan.woff"),
    url("../fonts/yekan.ttf");
}

@font-face {
  font-family: yekan;
  font-weight: 400;
  src: url("../fonts/yekanRegular.eot"), url("../fonts/yekanRegular.woff"),
    url("../fonts/yekanRegular.ttf");
}

body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: yekan;
}

/* استایل لودینگ */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loading-text {
  font-weight: bold;
  color: red;
}

#loading-dots {
  font-size: 2rem;
  margin-top: 10px;
  letter-spacing: 5px;
  color: red;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.col {
  text-align: right;
}

.header {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0 7px 8px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.inner-section {
  width: 100%;
  min-width: 1009px;
  max-width: 1626px;
  margin: 0 auto;
}

.header .main-nav-logo {
  display: block;
  background: url(../images/logo1.svg) no-repeat 50%;
  margin-right: 15px;
  height: 50px;
  width: 150px;
  background-size: contain;
}

.header .search-box {
  border-radius: 5px;
  margin-right: 24px;
  background-color: #f0f0f1;
  height: 44px;
  box-sizing: border-box;
  padding: 4px 10px;
  width: 60%;
  display: flex;
}

.header .search-box:before {
  font-family: digikala;
  content: "\E13B\00FE0E";
  display: block;
  color: #a1a3a8;
  font-size: 24px;
  width: 36px;
  height: 36px;
}

.header .search-box input[type="text"] {
  height: 36px;
  width: calc(100% - 60px);
  color: #474747;
  font-size: 14px;
  background: transparent;
  border: none;
  outline: none;
  font-family: yekan;
}

.login-btn {
  display: flex;
  align-items: center;
  font-family: yekan;
  font-size: 12px;
}

.login-btn:before {
  content: "\E193\00FE0E";
  font-family: digikala;
  display: block;
  margin-left: 10px;
  font-size: 20px;
}
.recipe:before {
  content: "\E0D5\00FE0E";
  font-family: digikala;
  display: block;
  font-size: 20px;
}

.separator {
  display: inline-block;
  margin: 0 5px;
  border-right: 1px solid #e0e0e2;
  vertical-align: middle;
  height: 30px;
}
.bars-icon:before {
  content: "\E138\00FE0E";
  font-family: digikala;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 20px;
}

.bucket-icon:before {
  content: "\E089\00FE0E";
  font-family: digikala;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 20px;
}

.discount-icon:before {
  content: "\E057\00FE0E";
  font-family: digikala;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 20px;
}

.certified-icon:before {
  content: "\E075\00FE0E";
  font-family: digikala;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 20px;
}

.chain-icon:before {
  content: "\E0FB\00FE0E";
  font-family: digikala;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 20px;
}

.location-icon:after {
  content: "\E155\00FE0E";
  font-family: digikala;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 20px;
}

.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.menu > li:not([class="hover"]) {
  color: #616161;
  cursor: pointer;
  padding: 0 10px;
  font-size: 12px;
  line-height: 40px;
  z-index: 4;
}

.menu > li.hover {
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 0;
  z-index: 3;
  transform: scaleX(1);
}

.menu > li.hover > div:before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 4;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ef5661;
}

.text-subtitle {
  font-size: 12px;
  color: #616161;
}
.span-icon {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}
.span-icon:hover {
  text-decoration: none;
  color: rgba(47, 0, 255, 0.471);
  cursor: pointer;
}

/* slider section */

.banners {
  padding: 140px 20px 0 20px;
}

.banners > .inner-section {
  max-width: 1336px;
  min-width: 0;
}

.block {
  border-radius: 5px;
}

.banners .banner-image {
  margin-bottom: 15px;
  width: 100%;
}

.swiper-pagination {
  bottom: 20px !important;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.swiper-pagination-bullet:hover {
  width: 11px;
  height: 11px;
}

.swiper-pagination-bullet-active {
  background-color: #00bfd6;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #fff;
  text-shadow: 0 2px 4px #616161;
}

/* under menubar */

a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: red;
  transition: 0.3s;
}
.sub-menu {
  display: none;
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 12px;
  position: absolute;
  right: 143px;
  line-height: 20px;
}
.sub-menu a {
  padding: 5px 0;
  display: inline-block;
}

.discount-icon > .sub-menu {
  width: 830px;
}

.chain-icon > .sub-menu {
  width: 610px;
}

.menu > li:hover > .sub-menu {
  display: block;
}

.see-all-cats:after {
  content: "\E0CD\00FE0E";
  font-family: digikala;
  vertical-align: middle;
  margin-left: 4px;
  font-size: 20px;
}
.see-all-cats {
  text-decoration: none;
  color: black;
}
.see-all-cats:hover {
  text-decoration: none;
  color: red;
}

.padd {
  padding-top: 10px;
  padding-bottom: 10px;
}

hr {
  padding-top: 15px;
}

.menu-image {
  width: 100%;
}
.btn-slid {
  text-decoration: none;
  color: #f2f4f4;
}
.btn-slid:hover {
  color: #000000 !important;
  text-decoration: none;
}
.special-part {
  padding: 40px 0;
  background-image: url("../images/special_bg.svg");
  background-repeat: no-repeat;
  background-position: 90%;
  background-size: auto 100%;
  margin-right: 10px;
}

.swiper-special .swiper-slide-inner {
  margin-right: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  padding: 5px 15px 15px 15px;
  text-align: left;
}

.swiper-special .swiper-slide:first-child .swiper-slide-inner {
  margin-right: 0;
}

.swiper-special .swiper-slide-inner > .image-container {
  width: 180px;
  height: 180px;
  margin: 5px auto;
}

.swiper-special .swiper-slide-inner > .title {
  display: block;
  text-align: center;
  color: #535353;
  font-size: 12px;
  height: 65px;
  margin-top: 15px;
}

.swiper-special .swiper-slide-inner > .price-container {
  text-align: left;
}

.swiper-special .swiper-slide-inner > .price-container > .discount {
  padding: 4px 6px 1px;
  background-color: #fb3449;
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
}

.swiper-special .swiper-slide-inner > .price-container > .now-price {
  font-size: 20px;
}

.swiper-special .swiper-slide-inner > .price-container > .price-unit {
  font-size: 14px;
}

.swiper-special .swiper-button-next,
.swiper-special .swiper-button-prev {
  padding: 50px 30px;
  background-color: #fff;
  color: #1b1e21;
  box-shadow: 1.5px 0 4px 0 rgba(0, 0, 0, 0.15);
  top: calc(50% - 50px);
}

.swiper-special .swiper-button-next {
  left: 15px;
}

.swiper-special .swiper-button-prev {
  right: 15px;
}

.swiper-special .swiper-button-next:after,
.swiper-special .swiper-button-prev:after {
  font-size: 26px !important;
}

*[class*="swiper-container"] {
  overflow: hidden;
}

.body-section {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  padding: 10px 35px;
}

h3.title {
  font-size: 18px;
  padding: 10px 15px;
  height: 45px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ef5661;
}

hr.title {
  height: 45px;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #dfdfdf;
}

.swiper-body-part .swiper-slide-inner > .image-container {
  width: 140px;
  height: 140px;
}

h4.title {
  color: #656565;
  font-size: 19px;
  padding: 20px 0;
}

.categories {
  text-align: center;
}

.categories div.title {
  color: #2a2a2a;
  font-size: 12px;
  height: 45px;
}

.categories div.count {
  color: #00bfd6;
  font-size: 12px;
}

.sub-menu.categorization {
  background-color: #f7f7f7;
  padding: 0;
  right: 15px;
  border-radius: 0 0 5px 0;
}

.sub-menu.categorization > ul.sub-menu-container {
  padding: 8px 8px 8px 0;
  list-style-type: none;
}

.sub-menu.categorization > ul.sub-menu-container > li {
  padding: 14px 8px;
  width: 225px;
  transition: all 0.6s;
  border-radius: 0 5px 5px 0;
}

.sub-menu.categorization > ul.sub-menu-container > li:hover {
  color: #ef394e;
  background-color: #fff;
}

.sub-menu.categorization > ul.sub-menu-container > li > .sub-menu-container {
  width: 1024px;
  background: #fff;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  display: none;
  list-style-type: none;
  position: absolute;
  top: 0;
  height: 100%;
  right: 100%;
  color: #616161;
  border-radius: 0 0 0 5px;
  padding: 0 12px;
}

.sub-menu.categorization
  > ul.sub-menu-container
  > li:hover
  > .sub-menu-container {
  display: block;
}
/* ssd */

.line-red {
  width: 10%;
  height: 3px;
  background: red;
}

.line-gray {
  height: 2px;
  background: #ccc;
  margin-right: 40px;
}

.product-name {
  font-size: 14px;
  margin-bottom: 4px;
}

.product-price {
  font-size: 13px;
  font-weight: bold;
  color: #444;
}

/* دکمه‌های کوچک‌تر */
.carousel-control-prev.small-btn,
.carousel-control-next.small-btn {
  width: 30px;
  height: 30px;
  top: 45%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 100%;
  height: 100%;
}

.view-all-btn {
  margin-top: 60px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid red; /* خط دور دایره */
  border-radius: 50%;
  background-color: white; /* داخل دایره سفید */
  position: relative;
  text-decoration: none;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  border-left: 2px solid red;
  border-bottom: 2px solid red;
  transform: translate(-50%, -50%) rotate(45deg);
}

.ssd-h:hover {
  color: red;
  transition: 0.3s;
  cursor: pointer;
}

/* col-12-6-6 */

.img-i9 {
  border-radius: 15px !important;
}

/* <!-- icon support section --> */
/* کانتینر اصلی */
#support-widget {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  font-family: sans-serif;
}

/* دکمه کوچک شناور */
#support-button {
  width: 60px;
  height: 60px;
  background-color: red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 28px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* پنجره چت */
#support-chat {
  display: none;
  width: 300px;
  max-width: 90vw;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  overflow: hidden;
  flex-direction: column;
}

/* هدر */
#chat-header {
  background-color: red;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chat-header button {
  background: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* پیام خوش آمد */
#chat-message {
  padding: 15px;
  font-size: 14px;
  color: #333;
}

/* ورودی شماره و دکمه */
#chat-input {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#chat-input input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#chat-input button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}
/* footer */

/* Footer اصلی */
#main-footer {
  background-color: #f44336; /* قرمز کم رنگ دیجیکالا */
  color: white;
  position: relative;
  font-family: sans-serif;
}

/* عناوین */
#main-footer h6 {
  font-weight: bold;
  margin-bottom: 15px;
}

/* لینک‌ها */
#main-footer .footer-links {
  list-style: none;
  padding: 0;
}

#main-footer .footer-links li {
  margin-bottom: 10px;
}

#main-footer .footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.2s;
}

#main-footer .footer-links a:hover {
  color: #ffebee;
}

/* شبکه‌های اجتماعی */
#main-footer .social-icons a {
  color: white;
  font-size: 20px;
  margin-right: 10px;
  transition: color 0.2s;
}

#main-footer .social-icons a:hover {
  color: #ffebee;
}

/* Created by */
#main-footer .creator {
  font-size: 12px;
  margin-top: 10px;
}

/* دکمه برگشت به بالا */
#back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  display: none; /* مخفی اولیه */
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.2s, transform 0.2s;
  z-index: 9999;
  display: flex; /* باید flex باشه برای وسط چین شدن آیکون */
  margin-bottom: 70px;
}

#back-to-top:hover {
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1.1);
}

#back-to-top i {
  font-size: 18px;
}



